<html>
  <head>
    <title>
      MCQ | Brainlyshchay
    </title>
  </head>

  <style>
    @import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
    @import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

    body {
	background: linear-gradient(-45deg, #006c2d, rgb(0, 0, 0), #044c8a, #3a2b01);
	background-size: 1900% 1900%;
    background-repeat: no-repeat;
	animation: gradient 15s ease infinite;
	height: 100vh;
    font-family: Raleway, sans-serif;
    scroll-behavior:none;
    }

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.cntr {
  text-align: center;
  font-size: 40px;
  font-family: 'Julius Sans One', sans-serif;
  color: #E5A94F;
}

hr {
 width: 50%;
}

.credits {
  color: #BDBDBD;
  opacity:40%;
  text-align: right;
  font-size: 40px;
}


/*----------------------------------------------------own ------------------------------------------*/
ul, ol {
      padding: 0;
      margin: 0;
      list-style: none;
      color: aliceblue;
    }

    /* Style the label for radio buttons */
    label {
      display: block; /* Ensure each label takes up a new line */
      padding: 8px 12px; /* Adjust padding to fit your design */
      cursor: pointer;
    }

    /* Change background color of the label when radio button is checked */
    input[type="radio"]:checked + label {
      background-color: #ffffff; /* Change to desired background color */
      color: rgb(0, 0, 0); /* Change text color */
    }

    /* Hide radio buttons */
    input[type="radio"] {
      display: none;
    }


    h3{
        color: rgb(255, 255, 255);
        padding-left: 10%;
        padding-right: 10%;
    }

  </style>



  <body>
    <br>
 

    <h1 class="cntr">Psychometric Test</h1>

    <hr style="width: 100%;">


    
   
    
    <div style="text-align: center;">


    <form id="surveyForm">

    <ul style="list-style: none;">
        <br>
    <li style="list-style: none;"><h3> Imagine you are juggling multiple tasks while using the app. How comfortable would you feel navigating through the features?
    </h3></li>
        <ol>
            <li><input type="radio" id="htmlRadio" name="htmlQuestion" value="htmlAnswer1">
            <label for="htmlRadio">Very comfortable</label></li>

            <li><input type="radio" id="htmlRadio1" name="htmlQuestion" value="htmlAnswer2">
            <label for="htmlRadio1">Somewhat comfortable</label></li>

            <li><input type="radio" id="htmlRadio2" name="htmlQuestion" value="htmlAnswer3">
            <label for="htmlRadio2">Neutral</label></li>

            <li><input type="radio" id="htmlRadio3" name="htmlQuestion" value="htmlAnswer4">
            <label for="htmlRadio3"> Uncomfortable</label></li>

            <li><input type="radio" id="htmlRadio4" name="htmlQuestion" value="htmlAnswer4">
            <label for="htmlRadio4"> Very uncomfortable</label></li>
        </ol>
    </ul>

    <br><hr style="width: 100%;">

    <ul style="list-style: none;">
        <br>
        <li style="list-style: none;"><h3>Choose the color combination that is most appealing and easy for you to distinguish.</h3></li>
        <ol>
            <li><input type="radio" id="htmlRadio01" name="htmlQuestion1" value="htmlAnswer1">
            <label for="htmlRadio01">Blue and White</label></li>

            <li><input type="radio" id="htmlRadio02" name="htmlQuestion1" value="htmlAnswer2">
            <label for="htmlRadio02">Green and Yellow</label></li>

            <li><input type="radio" id="htmlRadio03" name="htmlQuestion1" value="htmlAnswer3">
            <label for="htmlRadio03">Red and Black</label></li>

            <li><input type="radio" id="htmlRadio04" name="htmlQuestion1" value="htmlAnswer4">
            <label for="htmlRadio04">Pastel Colors</label></li>

            <li><input type="radio" id="htmlRadio05" name="htmlQuestion1" value="htmlAnswer4">
            <label for="htmlRadio05">Grayscale</label></li>
        </ol>
    </ul>

    <br><hr style="width: 100%;">

    

    <ul style="list-style: none;">
        <br>
        <li style="list-style: none;"><h3>Select the font size that you find most comfortable for reading text on a screen.</h3></li>
        <ol>
            <li><input type="radio" id="htmlRadio11" name="htmlQuestion2" value="htmlAnswer1">
            <label for="htmlRadio11">Small</label></li>

            <li><input type="radio" id="htmlRadio12" name="htmlQuestion2" value="htmlAnswer2">
            <label for="htmlRadio12">Medium</label></li>

            <li><input type="radio" id="htmlRadio13" name="htmlQuestion2" value="htmlAnswer3">
            <label for="htmlRadio13">Large</label></li>

            <li><input type="radio" id="htmlRadio14" name="htmlQuestion2" value="htmlAnswer4">
            <label for="htmlRadio14">Extra Large</label></li>

            <li><input type="radio" id="htmlRadio15" name="htmlQuestion2" value="htmlAnswer4">
            <label for="htmlRadio15">I don't know</label></li>
        </ol>
    </ul>


    <br><hr style="width: 100%;">


    <ul style="list-style: none;">
        <br>
        <li style="list-style: none;"><h3>When exploring an app, do you prefer fewer options with detailed information or more options with concise information?
        </h3></li>
        <ol>
            <li><input type="radio" id="htmlRadio21" name="htmlQuestion3" value="htmlAnswer1">
            <label for="htmlRadio21">Fewer options, detailed information</label></li>

            <li><input type="radio" id="htmlRadio22" name="htmlQuestion3" value="htmlAnswer2">
            <label for="htmlRadio22"> More options, concise information</label></li>

            <li><input type="radio" id="htmlRadio23" name="htmlQuestion3" value="htmlAnswer3">
            <label for="htmlRadio23">Balanced mix of both</label></li>

            <li><input type="radio" id="htmlRadio24" name="htmlQuestion3" value="htmlAnswer4">
            <label for="htmlRadio24">I'm not sure</label></li>
        </ol>
    </ul>


    <br><hr style="width: 100%;">


    <ul style="list-style: none;">
        <br>
        <li style="list-style: none;"><h3>How quickly can you locate and understand information on a busy screen?</h3></li>
        <ol>
            <li><input type="radio" id="htmlRadio31" name="htmlQuestion4" value="htmlAnswer1">
            <label for="htmlRadio31">Very quickly</label></li>

            <li><input type="radio" id="htmlRadio32" name="htmlQuestion4" value="htmlAnswer2">
            <label for="htmlRadio32">Moderately quickly</label></li>

            <li><input type="radio" id="htmlRadio33" name="htmlQuestion4" value="htmlAnswer3">
            <label for="htmlRadio33">Neither quickly nor slowly</label></li>

            <li><input type="radio" id="htmlRadio34" name="htmlQuestion4" value="htmlAnswer4">
            <label for="htmlRadio34">Moderately slowly</label></li>

            <li><input type="radio" id="htmlRadio35" name="htmlQuestion4" value="htmlAnswer4">
            <label for="htmlRadio35">Very slowly</label></li>
        </ol>
    </ul>


    <br><hr style="width: 100%;">


    <ul style="list-style: none;">
        <br>
        <li style="list-style: none;"><h3> How would you like to receive notifications about important updates or events within the app?
        </h3></li>
        <ol>
            <li><input type="radio" id="htmlRadio41" name="htmlQuestion5" value="htmlAnswer1">
            <label for="htmlRadio41">Visual alerts (e.g., flashing icon)</label></li>

            <li><input type="radio" id="htmlRadio42" name="htmlQuestion5" value="htmlAnswer2">
            <label for="htmlRadio42">Auditory alerts (e.g., notification sounds)</label></li>

            <li><input type="radio" id="htmlRadio43" name="htmlQuestion5" value="htmlAnswer3">
            <label for="htmlRadio43">Text-based alerts (e.g., pop-up messages)</label></li>

            <li><input type="radio" id="htmlRadio44" name="htmlQuestion5" value="htmlAnswer4">
            <label for="htmlRadio44">Combination of visual and auditory alerts</label></li>

            <li><input type="radio" id="htmlRadio45" name="htmlQuestion5" value="htmlAnswer4">
            <label for="htmlRadio45">I prefer no notifications</label></li>
        </ol>
    </ul>


    <br><hr style="width: 100%;">



    <ul style="list-style: none;">
        <br>
        <li style="list-style: none;"><h3>If you were to prioritize tasks within the app, what would be your preferred method?
        </h3></li>
        <ol>
            <li><input type="radio" id="htmlRadio51" name="htmlQuestion6" value="htmlAnswer1">
            <label for="htmlRadio51">Drag-and-drop to arrange tasks</label></li>

            <li><input type="radio" id="htmlRadio52" name="htmlQuestion6" value="htmlAnswer2">
            <label for="htmlRadio52">Select priority levels (high, medium, low)</label></li>

            <li><input type="radio" id="htmlRadio53" name="htmlQuestion6" value="htmlAnswer3">
            <label for="htmlRadio53">Automatic sorting based on usage frequency</label></li>

            <li><input type="radio" id="htmlRadio54" name="htmlQuestion6" value="htmlAnswer4">
            <label for="htmlRadio54">Alphabetical order</label></li>

            <li><input type="radio" id="htmlRadio55" name="htmlQuestion6" value="htmlAnswer4">
            <label for="htmlRadio55">I'm not sure</label></li>
        </ol>
    </ul>


    <br><hr style="width: 100%;">



    <ul style="list-style: none;">
        <br>
        <li style="list-style: none;"><h3>Adjusting settings for touchscreen sensitivity can enhance your interaction. What level of sensitivity do you find most comfortable?</h3></li>
        <ol>
            <li><input type="radio" id="htmlRadio61" name="htmlQuestion7" value="htmlAnswer1">
            <label for="htmlRadio61">Low sensitivity (requires more pressure)</label></li>

            <li><input type="radio" id="htmlRadio62" name="htmlQuestion7" value="htmlAnswer2">
            <label for="htmlRadio62">Moderate sensitivity</label></li>

            <li><input type="radio" id="htmlRadio63" name="htmlQuestion7" value="htmlAnswer3">
            <label for="htmlRadio63">High sensitivity (requires less pressure)</label></li>

            <li><input type="radio" id="htmlRadio64" name="htmlQuestion7" value="htmlAnswer4">
            <label for="htmlRadio64">I'm not sure</label></li>

        </ol>
    </ul>


    <br><hr style="width: 100%;">



    <ul style="list-style: none;">
        <br>
        <li style="list-style: none;"><h3>How would you prefer to provide feedback on your experience with the app?</h3></li>
        <ol>
            <li><input type="radio" id="htmlRadio71" name="htmlQuestion8" value="htmlAnswer1">
            <label for="htmlRadio71">Short surveys at specific intervals</label></li>

            <li><input type="radio" id="htmlRadio72" name="htmlQuestion8" value="htmlAnswer2">
            <label for="htmlRadio72">In-app feedback form accessible anytime</label></li>

            <li><input type="radio" id="htmlRadio73" name="htmlQuestion8" value="htmlAnswer3">
            <label for="htmlRadio73">Integrated voice command for feedback</label></li>

            <li><input type="radio" id="htmlRadio74" name="htmlQuestion8" value="htmlAnswer4">
            <label for="htmlRadio74">Personalized feedback sessions with support staff</label></li>

            <li><input type="radio" id="htmlRadio75" name="htmlQuestion8" value="htmlAnswer4">
            <label for="htmlRadio75">I prefer not to provide feedback</label></li>
        </ol>
    </ul>


    <br><hr style="width: 100%;">

    <button type="submit" style="width: 50%; font-size:40px; margin-top: 30px; border-radius: 20px; border: none;">Submit</button>






    <h4 class="credits">Nitin V Pujari 2023</h4>
    <h4 class="credits">Srujana | Samyam | Keerthi | Vishnu</h4>
    <br>
    </div>



    

</form>






<script>
    document.getElementById('surveyForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the default form submission

        // Get form data
        const formData = new FormData(this);

        // Send form data to the Flask backend
        fetch('/submit_survey', {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if (response.ok) {
                return response.json(); // Process response as JSON if needed
            }
            throw new Error('Network response was not ok.');
        })
        .then(data => {
            console.log('Form data sent:', data); // Log success message or handle the response
            // Redirect or perform actions based on the response
        })
        .catch(error => {
            console.error('There was an error:', error); // Log and handle errors
        });
    });
</script>


  </body>
</html>